{% extends "smartsearch/smartsearch_home.html" %}
{% block title %}Avis sur le specialiste {{ specialist }} - {{ block.super }}{% endblock %}
{% block canonical_url %}https://{{ request.get_host }}{% url 'specialist_posts_page' specialistx=specialist %}{% endblock %}
{% block message_info_homepage %}
  <h1><p class="message__info">Les avis sur le specialiste:<br> "{{ specialist }}"</p></h1>
  <h2>Address:<br><b> "{{ specialist.geocode }}"</h2>
  <h2>Phone:<br><b> "{{ specialist.phone }}"</h2>

{% endblock %}
